[submodule "bundle/phpvim"]
	path = bundle/phpvim
	url = https://github.com/StanAngeloff/php.vim
[submodule "bundle/airline"]
	path = bundle/airline
	url = https://github.com/bling/vim-airline
[submodule "bundle/easymotion"]
	path = bundle/easymotion
	url = https://github.com/easymotion/vim-easymotion
[submodule "bundle/emmet"]
	path = bundle/emmet
	url = https://github.com/mattn/emmet-vim.git
[submodule "bundle/commentary"]
	path = bundle/commentary
	url = https://github.com/tpope/vim-commentary
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround
[submodule "bundle/csscolor"]
	path = bundle/csscolor
	url = https://github.com/ap/vim-css-color
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "bundle/l9"]
	path = bundle/l9
	url = https://github.com/vim-scripts/L9
[submodule "bundle/vim-nerd-treetabs"]
	path = bundle/vim-nerd-treetabs
	url = https://github.com/jistr/vim-nerdtree-tabs
[submodule "bundle/vimshell"]
	path = bundle/vimshell
	url = https://github.com/Shougo/vimshell.vim
[submodule "bundle/vimproc"]
	path = bundle/vimproc
	url = https://github.com/Shougo/vimproc.vim.git
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule "bundle/youcompleteme"]
	path = bundle/youcompleteme
	url = https://github.com/Valloric/YouCompleteMe
[submodule "bundle/vim-snippets"]
	path = bundle/vim-snippets
	url = https://github.com/honza/vim-snippets
